.hex-grid-container {
  @include full-screen;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(20px);
  gap: rem(16px);
}

.hex-grid-title {
  font-size: $font-size-xxl;
  font-weight: bold;
  margin-bottom: $spacing-xs;
  position: absolute;
}

.hex-grid-svg-container {
  background-color: transparent;
  @include full-screen;

  svg {
    @include full-screen;
  }
}

.hex-properties {
  display: grid;
  grid-template-columns: rem(120px) 1fr;
  gap: rem(8px);
}

.property-value {
  font-weight: 600;
}